.wrapper {
    height: 90svh;
    width: 100%;
    box-sizing: border-box;

    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    background-color: blueviolet;
}

.description {
    padding: 2dvw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.wrapper > p {
    width: auto;
    height: 45svh;
}

.wrapper > img {
    height: 50svh;
    width: auto;
    margin-right: 2dvw;
}

@media (width <= 800px ) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .description {
        height: 40svh;
        display: flex;
        justify-content: center;
    }
}