.home {
  height: 100svh;
  width: 100svw;

  display: block;
}

.articles {
  height: 90%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  height: 85%;
  scroll-snap-align: center;
}