.popup-content {
  margin: auto;
  background: hsl(190, 100%, 60%);
  width: auto;
  padding: 5px;
  
  position: fixed;
  top: 10dvh;
  right: 0;
}

.popup-arrow {
  color: rgb(255, 255, 255);
  display: none;
  top: 0;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
