@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body {
  --box-shadow: 3px 3px 29px 11px rgba(0,0,0,0.19);

  margin: 0;
  height: 100%;

  & p {
    font-family: 'Rubik', sans-serif
  }

  & h2 {
    font-family: 'Dancing Script', cursive;
  }
}

.App {
  background-image: url(./assets/common/bgi.png);
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  display: none;
}