body {
  margin: 0;
}

.App {
  background-image: url(https://cdn.leonardo.ai/users/c753a59c-e87e-47b0-afd8-3127b654159f/generations/a8ca0625-f8d9-40cc-ac2f-4f79f20a56db/variations/Default_white_and_calypso_vines_with_flowers_pastel_colors_whi_1_a8ca0625-f8d9-40cc-ac2f-4f79f20a56db_1.jpg);
  background-repeat: no-repeat;
  background-position: 0 10svh;
  background-size: cover;
}


/*
::-webkit-scrollbar {
  display: none;
}
*/