@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

$navHeight: 10svh;
$ico-color: white;

.navBar {
    position: sticky;
    z-index: 2;
    top: 0;
    
    height: $navHeight;
    width: 100svw;
    background-color: hsl(190, 100%, 60%);
    box-shadow: 0px 5px 20px;
    
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
}

.name {
    margin: 0;
    height: 100%;
    font-size: calc($navHeight * 0.7);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: $ico-color;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ico {
    height: 100%;
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & a {
        color: $ico-color;
        font-size: calc($navHeight * 0.65);
        text-decoration: none;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.ico:hover {
    cursor: pointer;
}


@media screen and (max-width: 800px) {
    .navBar {
        justify-content: space-around;
    }

    .name {
        font-size: calc($navHeight * 0.4);
    }
    
    .logo > img{
        height: 90%;
    }

    .ico {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .dropDown {
        display: none;
    }
}