@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@function contentHeight($navHeight) {
    @return $navHeight * 0.7; 
}

$navHeight: 10dvh;
$ico-color: white;
$padding: 12px;
$ico-size: contentHeight($navHeight);

.navBar {
    position: sticky;
    top: 0;

    margin: 0;
    height: $navHeight;
    width: 100dvw;
    background-color: hsl(190, 100%, 60%);
    
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo {
    height: 100%;
    width: 20%;
    padding: 5px;

    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.logo > img {
    height: 100%;
    object-fit: cover;
}

.name {
    margin: 0;
    height: 100%;
    width: 60%;
    font-size: $ico-size;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: $ico-color;

    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.name > p {
    width: 100%;
    text-align: center;
}

.ico {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
}

.ico > a{
    margin: 0;
    padding: $padding;
    color: $ico-color;
    font-size: $ico-size;

    box-sizing: border-box;
}

.menu {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    color: $ico-color;
    font-size: $ico-size;

    box-sizing: border-box;
}

@media (width <= 800px) {
    .navBar {
        justify-content: space-around;
    }

    .name {
        font-size: calc($ico-size * 0.7);
    }
    
    .logo > img{
        height: 90%;
    }

    .ico {
        display: none;
    }
}

@media (width >= 800px) {
    .menu {
        display: none;
    }
}