.swiper-container {
  height: 100%;
  width: 100svw;
  padding: 1rem 0;

  & .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;

  & img {
    height: 90%;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
   }
  }
}

@media (width < 800px) {
  .swiper-container{
    height: 60svh;
    
    & img {
      aspect-ratio: 1/1;
      transform: scale(0.8);
    }
  }

}
