.swiper-container {
  height: 90vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide > img {
  height: 100%;
  width: auto;
  object-fit: cover;
}
