.swiper-container {
  height: 90dvh;
}

.swiper-slide {
  background: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide > img {
  height: 100%;
  width: auto;
}

@media (width <= 800px) {
  .swiper-slide > img {
    height: auto;
    width: 100%;
  }
}